n8n_workflows/rag_support_workflow.json
{
  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "name": "RAG Support Assistant",
  "versionId": "1",
  "nodes": [
    {
      "id": "node-webhook-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rag-support",
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-support",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-http-retrieve-01",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/retrieve",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.body.query }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-if-found-01",
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-openai-01",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 180],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Sos un asistente de soporte técnico de MineCatalog. Respondé ÚNICAMENTE usando el contexto provisto. Citá el código de error (ej: ERR-DB-001) cuando esté disponible. Si la respuesta no está en el contexto, decilo explícitamente.\n\nContexto:\n={{ $('HTTP Request').item.json.results.map(r => r.context).join('\\n\\n') }}"
            },
            {
              "role": "user",
              "content": "={{ $('Webhook').item.json.body.query }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "node-respond-found-01",
      "name": "Respond Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 180],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.message.content, found: true }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node-respond-not-found-01",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $('HTTP Request').item.json.message, found: false }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node-respond-error-01",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 540],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"answer\": \"Lo siento, ocurrió un error procesando tu consulta. Por favor intentá de nuevo.\", \"found\": false, \"error\": true }",
        "options": {
          "responseCode": 500
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond Found",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-31T00:00:00.000Z",
  "createdAt": "2026-05-31T00:00:00.000Z"
}
